<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hello_Z">
        <activity
            android:name=".ui.foundation.broadcasts.BroadCastActivity"
            android:exported="false" />

        <service
            android:name=".ui.foundation.services.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.submenu.FoundationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.foundation.services.StartServerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.foundation.activities.FoundationSecondActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.helloz.foundation.second.ACTION_SECOND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.foundation.activities.FoundationFirstActivity"
            android:exported="false" />
        <activity
            android:name=".ui.submenu.AnimationActivity"
            android:exported="false" />
    </application>

</manifest>